<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96304314724-j29mtbs1l80a9vk5o6np8q4ujfjtlc7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96304314724-j29mtbs1l80a9vk5o6np8q4ujfjtlc7t</string>
	<key>API_KEY</key>
	<string>AIzaSyDBX6TwSI0U6FpVc3zQpz0Xm_AoP5fV0Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>96304314724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirePos.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-pos</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-pos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96304314724:ios:9e1c30dac8a48446fea271</string>
</dict>
</plist>